<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav style="width: 100%; ">
        <ul style="display: flex; justify-content: space-evenly; background-color: blue; width: 100%; padding: 30px 0;">
            <li style="background-color: beige; list-style: none;"><a href="/movies/list">Lista</a></li>
            <li style="background-color: beige; list-style: none;"><a href="/movies/index">Index</a></li>
            <li style="background-color: beige; list-style: none;"><a href="/movies/create">Agregar</a></li>
        </ul>
    </nav>
    <h1>Lista de Peliculas</h1>
    <h4>Total de peliculas: <%= cantidad %> </h4>
    <h4>Top Ten</h4>
    <ul>
        <% top.forEach(peli => { %>
            <li><%= peli.title %> </li>
        <% }) %>
    </ul>
    <ul>
        <% peliculas.forEach(pelicula => { %>
         <li><a href="/movies/show/<%= pelicula.id %> "><%= pelicula.id %> - <%= pelicula.title %> </a></li>
        <% }) %>
    </ul>
</body>
</html>
